<div class="container">
	<div class="row">
		<div class="col">
		</div>
		<div class="col">
			<h2 class="alert alert-secondary">Tour of Heroes</h2>
			<a class="btn btn-secondary" role="button" href="#" >Dashboard</a>
			<a class="btn btn-secondary" role="button" href="#" >List</a>
		</div>
		<div class="col">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="hero-top-item alert alert-secondary">
				<p>Magneta</p>
				<p>340 points</p>
			</div>
		</div>
		<div class="col">
			<div class="hero-top-item alert alert-secondary">
				<p>Magneta</p>
				<p>340 points</p>
			</div>
		</div>
		<div class="col">
			<div class="hero-top-item alert alert-secondary">
				<p>Magneta</p>
				<p>340 points</p>
			</div>
		</div>
		<div class="col">
			<div class="hero-top-item alert alert-secondary">
				<p>Magneta</p>
				<p>340 points</p>
			</div>
		</div>
	</div>
</div>